<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="cntrl">
<form>
<input type="text" ng-model="filename" name="filename">
<!-- client name<input type="text" ng-model="name" name="id"> -->
<input type="button" value="search" ng-click="search()" >

</form>
</div>

<script>
var app=angular.module('myApp',[]);
app.controller('cntrl',function($scope,$http){
  $scope.search=function(){
  $http.post("select_data_for_search.php",{'filename':$scope.filename})
  .success(function(data) {
alert(data);
$scope.filename = null;

});
}
});

</script>
</body>
</html>